<template>
  <CatCard />
</template>

<script>
// import req. components
import CatCard from "@/components/CatCard.vue";

export default {
  components: {
    CatCard
  }
};
</script>

<style></style>
